.DS_Store
node_modules
/suorcemap
# 忽略 dist 下的文件但是，/dist/dist.zip 不忽略，作为上传文件
/dist/*
!/dist/dist.zip


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
